# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node
node_modules/
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.*.local

# Vite cache
.cache/
.vite/

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# Windows
Thumbs.db

# Firebase / Local emulators
firebase-debug.log
.firebaserc
.firebase/
